html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    font-family: "Global User Interface";
}
*:not(.fa-solid):not(.fa):not(.e-icons){
    font-family: "Global User Interface";
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: 700;
    color: #000;
}
    body {
    margin-bottom: 60px;
    background-color: #12161d;
    color: #000;
    display: flex;
    flex-direction: column;
    overflow-y:sroll;
    /*background-image:url('../Images/Money-bg1.jpg');
    height:100vh;
    
    justify-content:center;
    align-items:center;*/
}

/*Radio buttons */
.e-bigger {
    font-size: x-large;
}
.e-bigger .text-white {
        color: white !important; /* Use !important to ensure the style takes precedence */
    }
.navbar-light .navbar-brand {
    color: #000;
    font-size:40px;
    font-weight: 700;
}
/*Grid*/
.e-grid {
    border: 0;
    border-radius: 5px;
    tab-size: 5;
}
.navbar-expand-sm .navbar-nav .home  {
    padding-right: 0.5rem;
    padding-left: 1rem;
    font-weight: 700;
    color: #000;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-weight:700;
    color:#000;
    
}

/*Button*/
.btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
}
.btn.btn-success {
    color: white;
}
.btn.btn-success:hover {
    color:#000; /* Change this to the desired color */
}
a.btn.btn-success{
    margin-left:400px;
    width:45%;
}
/*BreadCrumb*/
.e-breadcrumb a, .e-breadcrumb a:hover{
    text-decoration:none !important;
    color:inherit !important;
}
/*Hyperlink*/
.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}

.e-btn-group.custom-rbt-group {
    width: 100%;
    
}
.e-btn-group.custom-rbt-group .e-btn{
    width: 100%;
}

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #fff;
    background-color: rgb(34 43 51);
    color: #fff;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #fff;
    color: #212b36;
    border: 1px solid #fff;
}

/* widget */
.widget {
    border-radius: 1rem;
    background-color:#1a222b;
}
.login-logout-crad .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #258cfb;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}
.card-body{
    width:100%;
}
.row{
    width:100%;
}