@model ExpenseTracker.Models.LoginRegister

@{
    ViewData["Title"] = "Create";
    
}


<div class="row justify-content-center">

    <h1 >Create</h1>

    <div class="col-md-7">
        
            <form asp-action="Create">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                 <div class="mb-3">
                    <ejs-textbox id="FirstName" placeholder="First name" ejs-for="FirstName" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="LastName" placeholder="Last name" ejs-for="LastName" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="Email" placeholder="Email" ejs-for="Email" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="Phone" placeholder="Mobile number" ejs-for="Phone" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                
                <ejs-button id="submit" cssClass="e-success" typeof="submit" content="Submit"></ejs-button>
               
            </form>
        
       
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
